/* checkout.css */

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.checkout h2,
.checkout h3 {
  animation: blink 1s infinite; /* Adjust the time as needed */
}
.checkout__ad {
  width: 100px;
  margin-bottom: 10px;
}
.checkout
{
    display: flex;
    padding: 20px;
    background-color: rgb(250, 251, 252);
    height: max-content;
}
.checkout_title
{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout__right
{
    
}
.checkout__left
{
    background-color: rgb(229, 252, 252);
}